# Hardhat files
cache/
artifacts/
typechain-types/

# Dependencies
node_modules/

# Environment variables
.env

# Parcel cache
.parcel-cache/
dist/

# IDE and OS files
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
build/
